.start-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6ffe6;
    border: 2px solid #00cc44;
    padding: 20px;
    margin: 20px;
    height: 400px;
    width: 700px;
}

.start-component button {
    background-color: #00cc44;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.start-component button:hover {
    background-color: #009933;
}
